@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CormorantUpright";
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #ffffff;
  background-color: #263238;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 88.75rem;
  margin: 0 auto;
}

[class*=__container-big] {
  max-width: 101.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 105rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: rgba(16, 13, 13, 0.7);
}

.header__container-big {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18.75rem 1fr 18.75rem;
  grid-template-columns: 18.75rem 1fr 18.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  cursor: pointer;
  position: relative;
  z-index: 5;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #23b123;
}

.header__logo img {
  max-width: 100%;
}

.header__logo::before,
.header__logo::after {
  pointer-events: none;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: 1px solid #fff;
}

.header__logo::before {
  -webkit-transform: translate(-28%, -70%);
      -ms-transform: translate(-28%, -70%);
          transform: translate(-28%, -70%);
}

.header__logo::after {
  -webkit-transform: translate(-35%, -65%);
      -ms-transform: translate(-35%, -65%);
          transform: translate(-35%, -65%);
}

.header__menu {
  padding: 0 0.625rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__actions {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.625rem;
  -webkit-column-gap: 2.75rem;
     -moz-column-gap: 2.75rem;
          column-gap: 2.75rem;
  font-size: 1.1875rem;
  font-weight: 600;
  color: #ffffff;
}

.menu__list li {
  cursor: pointer;
}

.menu__link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.button {
  font-family: OpenSans, sans-serif;
  font-weight: 500;
  line-height: 1.2222222222;
  padding: 10px 30px;
  background-color: #23b123;
  border-radius: 0.625rem;
  height: 64px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.button._fw {
  width: 100%;
}

.icon-menu {
  display: none;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), color-stop(100%, rgba(0, 0, 0, 0.95)), to(rgba(0, 0, 0, 0))), url(../img/paralax-1920x830.webp) 0 0/cover no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.95) 100%, rgba(0, 0, 0, 0) 100%), url(../img/paralax-1920x830.webp) 0 0/cover no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.95) 100%, rgba(0, 0, 0, 0) 100%), url(../img/paralax-1920x830.webp) 0 0/cover no-repeat;
  position: relative;
  z-index: 2;
}

.footer__container {
  font-family: CrimsonText, serif;
  font-size: 1.375rem;
}

.footer__body {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
  text-align: center;
}

.footer__contacts {
  padding: 0 35px;
}

.footer__main {
  text-align: center;
}

.footer__copy {
  text-align: center;
}

.footer__copy_dev {
  text-align: center;
}

.footer__copy_dev span {
  color: #23b123;
}

.footer__dev {
  font-size: 1.375rem;
  color: #ffffff;
}

.footer__dev:hover {
  color: #23b123;
}

.contacts-footer {
  display: -ms-grid;
  display: grid;
  gap: 25px;
}

.contacts-footer__title {
  color: #23b123;
  font-size: 2rem;
  line-height: 130%;
}

.contacts-footer__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

.contacts-footer__item {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-footer__item_address {
  line-height: 2.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-footer__item_address:hover {
  color: #23b123;
}

.main-footer__title > img {
  width: 18.75rem;
}

.main-footer__text {
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
  display: inline-block;
  max-width: 27.375rem;
  margin: 0 0 1em 0px;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
}

.social-footer__link {
  font-size: 1.25rem;
  color: #ffffff;
}

.social-footer__link:hover {
  color: #23b123;
}

.main-block__container-big {
  position: relative;
}

.main-block__content {
  padding-top: 15.625rem;
  padding-bottom: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-block__text {
  color: #ffffff;
  font-size: 1.1875rem;
  line-height: 180%;
  max-width: 45.3125rem;
}

.title {
  font-weight: 600;
  line-height: 1.1142857143;
  font-size: 4.375rem;
  color: #fff;
}

.title span {
  color: #23b123;
}

.icons-main-block {
  pointer-events: none;
}

.icons-main-block__item {
  position: absolute;
}

.icons-main-block__item_1 {
  top: 69.3018480493%;
  left: 0.9375rem;
}

.icons-main-block__item_1 img {
  width: 32px;
  height: 32px;
}

.icons-main-block__item_2 {
  top: 39.0143737166%;
  left: 14.6296296296%;
}

.icons-main-block__item_2 img {
  width: 32px;
  height: 32px;
}

.icons-main-block__item_3 {
  top: 87.9876796715%;
  left: 24.8765432099%;
}

.icons-main-block__item_3 img {
  width: 32px;
  height: 32px;
}

.icons-main-block__item_4 {
  top: 13.7577002053%;
  left: 70.9259259259%;
}

.icons-main-block__item_4 img {
  width: 32px;
  height: 32px;
}

.icons-main-block__item_5 {
  top: 43.0184804928%;
  left: 81.7901234568%;
}

.icons-main-block__item_5 img {
  width: 32px;
  height: 32px;
}

.icons-main-block__item_6 {
  top: 79.6714579055%;
  left: 81.5432098765%;
}

.icons-main-block__item_6 img {
  width: 32px;
  height: 32px;
}

.icons-main-block__item_7 {
  top: 37.6796714579%;
  right: 0.9375rem;
}

.icons-main-block__item_7 img {
  width: 32px;
  height: 32px;
}

.how__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.875rem;
}

.how__image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.title {
  font-weight: 600;
  line-height: 1.1142857143;
  font-size: 4.375rem;
  color: #fff;
}

.title_s64 {
  font-weight: 600;
}

.title_s64 span {
  color: #23b123;
}

.text {
  color: #ffffff;
  font-size: 1.4375rem;
  line-height: 180%;
  max-width: 45.3125rem;
}

.text span {
  color: #23b123;
  margin-right: 1.25rem;
}

.step-how__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.step-how__text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 1.25rem;
  position: relative;
}

.image-block::before,
.image-block::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  top: 0;
  right: 0;
}

.image-block::before {
  -webkit-transform: translate(calc(50% - 1.125rem), -20%);
      -ms-transform: translate(calc(50% - 1.125rem), -20%);
          transform: translate(calc(50% - 1.125rem), -20%);
}

.image-block::after {
  -webkit-transform: translate(calc(50% - 1.25rem), -6%);
      -ms-transform: translate(calc(50% - 1.25rem), -6%);
          transform: translate(calc(50% - 1.25rem), -6%);
}

.image-block__item {
  text-align: center;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.image-block__item img {
  max-width: 100%;
  border-radius: 1.25rem;
}

.pathway__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.875rem;
}

.pathway__image {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.pathway__image::before {
  -webkit-transform: translate(calc(-50% - 21.875rem), -19%);
      -ms-transform: translate(calc(-50% - 21.875rem), -19%);
          transform: translate(calc(-50% - 21.875rem), -19%);
}

.pathway__image::after {
  -webkit-transform: translate(calc(-50% - 21.875rem), -8%);
      -ms-transform: translate(calc(-50% - 21.875rem), -8%);
          transform: translate(calc(-50% - 21.875rem), -8%);
}

.pathway__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.pathway__spollers {
  display: -ms-grid;
  display: grid;
}

.pathway__spollers:not(:last-child) {
  margin-bottom: 1.5rem;
}

.spollers-pathway__item {
  overflow: hidden;
  border-radius: 0.625rem;
  background-color: rgba(255, 255, 255, 0.05);
  min-width: 465px;
}

.spollers-pathway__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.5rem 1.875rem;
  background-color: rgba(255, 255, 255, 0.05);
  line-height: 130%;
  gap: 0.625rem;
}

.spollers-pathway__title::after {
  content: "";
  background: url("../img/icons/p-right.svg") center/100% no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.875rem;
          flex: 0 0 0.875rem;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 1.5rem;
  width: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 1.5rem;
}

.spollers-pathway__title._spoller-active::after {
  content: "";
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.spollers-pathway__body {
  padding: 0rem 1.875rem 0.625rem 1.875rem;
  color: #ffffff;
  font-size: 1.1875rem;
  line-height: 180%;
  max-width: 45.3125rem;
}

.why__container {
  display: -ms-grid;
  display: grid;
  row-gap: 1.875rem;
}

.step-why {
  list-style-type: none;
  counter-reset: item;
  display: -ms-grid;
  display: grid;
}

.step-why__item {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 3.125rem;
}

.step-why__item::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  counter-increment: item;
  content: counter(item);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: rgba(255, 255, 255, 0.05);
  font-size: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  min-width: 4.0625rem;
}

.tennis {
  background: url("../img/tenisball.webp") 40% 0/cover no-repeat fixed;
  opacity: 0.8;
}

.tennis__list {
  font-family: Oswald, sans-serif;
  font-weight: 400;
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.tennis__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: uppercase;
  gap: 0.625rem;
}

.tennis__item h1 {
  font-size: 5.625rem;
}

.tennis__item p {
  font-size: 1.875rem;
}

.tennis__title {
  text-align: left;
}

.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
}

.main-slider__container-big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  position: relative;
}

.body-main-slider {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-main-slider__swiper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 0 0 0;
}

.body-main-slider__slide {
  min-height: 100%;
  min-width: 100%;
}

.body-main-slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.body-main-slider__control .swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: Lato-Regular, sans-serif;
  font-size: 1.4375rem;
  line-height: 175%;
  font-weight: 600;
  letter-spacing: 0.04em;
  -webkit-transition: gap 0.5s ease 0s;
  -o-transition: gap 0.5s ease 0s;
  transition: gap 0.5s ease 0s;
  color: #23b123;
}

.body-main-slider__control .swiper-pagination-bullet::after {
  content: "";
  width: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  height: 1px;
}

.body-main-slider__control .swiper-pagination-bullet-active {
  color: #23b123;
  gap: 3px;
}

.body-main-slider__control .swiper-pagination-bullet-active:not(:last-child)::after {
  content: "";
  width: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  height: 1px;
}

.slide-main-slider {
  display: -ms-grid;
  display: grid;
  opacity: 0 !important;
  pointer-events: none !important;
}

.slide-main-slider.swiper-slide-active {
  opacity: 1 !important;
  pointer-events: auto !important;
}

.slide-main-slider__image-ibg {
  position: relative;
  padding-top: 75%;
  padding-bottom: 43.6046511628%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.slide-main-slider__image-ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slide-main-slider__image-ibg::before,
.slide-main-slider__image-ibg::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #23b123;
  width: 70.2746365105%;
  height: 63.226744186%;
}

.slide-main-slider__image-ibg::before {
  top: 0;
  right: 0;
  -webkit-transform: translate(25px, -25px);
      -ms-transform: translate(25px, -25px);
          transform: translate(25px, -25px);
}

.slide-main-slider__image-ibg::after {
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-25px, 25px);
      -ms-transform: translate(-25px, 25px);
          transform: translate(-25px, 25px);
}

.slide-main-slider__image-ibg img {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 2;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.5s linear;
  -o-transition: opacity 0.2s 0.5s linear;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 29.99875em) {
  .spollers-pathway__title {
    padding: 1.5rem 1.875rem;
    line-height: 130%;
  }

  .spollers-pathway__body {
    padding: 0rem 1.25rem 1.125rem 1.25rem;
  }
}

@media (min-width: 56.31125em) {
  .why__container {
    -ms-grid-columns: 1fr 47.8873239437%;
    grid-template-columns: 1fr 47.8873239437%;
  }
}

@media (min-width: 61.99875em) {
  .footer__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-columns: 300px 1fr 300px;
    grid-template-columns: 300px 1fr 300px;
  }

  .footer__contacts:first-child {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .footer__contacts:last-child {
    -ms-grid-column-align: end;
        justify-self: end;
  }

  .slide-main-slider {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .slide-main-slider__image-ibg {
    margin-right: 3.8461538462%;
    max-height: 736px;
    height: 100%;
  }
}

@media (min-width: 77.43625em) {
  .how__container {
    -ms-grid-columns: 1fr 52.8169014085%;
    grid-template-columns: 1fr 52.8169014085%;
  }
}

@media (min-width: 88.75em) {
  .pathway__content {
    padding-left: 7.875rem;
  }

  .pathway__content {
    padding-right: 7.875rem;
  }
}

@media (min-width: 103.125em) {
  .header {
    padding-top: 3.75rem;
  }

  .header {
    padding-bottom: 3.75rem;
  }

  .header__logo {
    font-size: 2.8125rem;
  }

  .header__logo::before,
  .header__logo::after {
    width: 36.5625rem;
  }

  .header__logo::before,
  .header__logo::after {
    height: 36.5625rem;
  }

  .menu__list {
    gap: 2.75rem;
  }

  .footer {
    padding-top: 9.375rem;
  }

  .footer {
    padding-bottom: 8.75rem;
  }

  .footer__copy {
    padding-top: 5rem;
  }

  .footer__copy_dev {
    padding-top: 1.875rem;
  }

  .main-footer__title > img {
    height: 5.3125rem;
  }

  .main-footer__title > img {
    weight: 5.3125rem;
  }

  .main-footer__title > img {
    margin-bottom: 1.875rem;
  }

  .paig__main {
    margin-bottom: 12.5rem;
  }

  .main-block__content {
    padding-top: 18.75rem;
  }

  .main-block__content {
    padding-bottom: 12.5rem;
  }

  .main-block__text:not(:last-child) {
    margin-bottom: 3rem;
  }

  .title {
    font-size: 4.375rem;
  }

  .title:not(:last-child) {
    margin-bottom: 4.3125rem;
  }

  .how {
    padding-bottom: 6.25rem;
  }

  .how__content {
    padding-left: 1.875rem;
  }

  .title {
    font-size: 4.375rem;
  }

  .title_s64 {
    font-size: 4.375rem;
  }

  .title_s64:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .text {
    margin-bottom: 3rem;
  }

  .text p:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .step-how__item:not(:last-child) {
    margin-bottom: 3rem;
  }

  .step-how__text p {
    padding-right: 1.25rem;
  }

  .image-block {
    padding-top: 10.3125rem;
  }

  .image-block {
    padding-bottom: 10.3125rem;
  }

  .image-block {
    padding-left: 2.8125rem;
  }

  .image-block {
    margin-left: 0.9375rem;
  }

  .image-block {
    margin-right: 0.9375rem;
  }

  .image-block {
    padding-right: 2.8125rem;
  }

  .image-block::before,
  .image-block::after {
    width: 36.5625rem;
  }

  .image-block::before,
  .image-block::after {
    height: 36.5625rem;
  }

  .pathway {
    padding-top: 6.25rem;
  }

  .pathway {
    padding-bottom: 6.25rem;
  }

  .pathway__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .pathway__text:not(:last-child) {
    margin-bottom: 3rem;
  }

  .spollers-pathway__title {
    font-size: 1.3125rem;
  }

  .spollers-pathway__body {
    margin-bottom: 3rem;
  }

  .spollers-pathway__body {
    margin-bottom: 1.4375rem;
  }

  .why {
    padding-top: 6.25rem;
  }

  .why {
    padding-bottom: 6.25rem;
  }

  .why__content {
    padding-left: 1.875rem;
  }

  .why__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .why__text:not(:last-child) {
    margin-bottom: 3rem;
  }

  .why__steps:not(:last-child) {
    margin-bottom: 3.4375rem;
  }

  .step-why {
    gap: 3rem;
  }

  .step-why__item {
    line-height: 3.4375rem;
  }

  .step-why__item {
    gap: 3.125rem;
  }

  .tennis {
    padding-top: 9.375rem;
  }

  .tennis {
    padding-bottom: 9.375rem;
  }

  .tennis {
    margin-bottom: 7.5rem;
  }

  .mainpage__slider {
    height: 68.75rem;
  }

  .main-slider {
    padding-top: 4.6875rem;
  }

  .main-slider {
    padding-bottom: 1.25rem;
  }

  .main-slider {
    padding-left: 1.25rem;
  }

  .main-slider {
    padding-right: 1.25rem;
  }

  .body-main-slider__control .swiper-pagination-bullet {
    font-size: 1.4375rem;
  }

  .body-main-slider__control {
    padding-top: 5.5rem;
  }
}

@media (max-width: 20em) {
  .header {
    padding-top: 0.625rem;
  }

  .header {
    padding-bottom: 0.625rem;
  }

  .header__logo {
    font-size: 1.875rem;
  }

  .header__logo::before,
  .header__logo::after {
    width: 21.875rem;
  }

  .header__logo::before,
  .header__logo::after {
    height: 21.875rem;
  }

  .menu__list {
    gap: 0.9375rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .footer__copy {
    padding-top: 1.875rem;
  }

  .footer__copy_dev {
    padding-top: 0.625rem;
  }

  .main-footer__title > img {
    height: 5.3125rem;
  }

  .main-footer__title > img {
    weight: 5.3125rem;
  }

  .main-footer__title > img {
    margin-bottom: 0.625rem;
  }

  .paig__main {
    margin-bottom: 6.25rem;
  }

  .main-block__content {
    padding-top: 9.375rem;
  }

  .main-block__content {
    padding-bottom: 3.125rem;
  }

  .main-block__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .title {
    font-size: 2.8125rem;
  }

  .title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .how {
    padding-bottom: 1.5625rem;
  }

  .how__content {
    padding-left: 1.875rem;
  }

  .title {
    font-size: 2.8125rem;
  }

  .title_s64 {
    font-size: 2.8125rem;
  }

  .title_s64:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .text {
    margin-bottom: 1.875rem;
  }

  .text p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .step-how__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .step-how__text p {
    padding-right: 1.25rem;
  }

  .image-block {
    padding-top: 1.875rem;
  }

  .image-block {
    padding-bottom: 1.875rem;
  }

  .image-block {
    padding-left: 1.875rem;
  }

  .image-block {
    margin-left: 0.9375rem;
  }

  .image-block {
    margin-right: 0.9375rem;
  }

  .image-block {
    padding-right: 1.875rem;
  }

  .image-block::before,
  .image-block::after {
    width: 21.875rem;
  }

  .image-block::before,
  .image-block::after {
    height: 21.875rem;
  }

  .pathway {
    padding-top: 1.5625rem;
  }

  .pathway {
    padding-bottom: 1.5625rem;
  }

  .pathway__content {
    padding-left: 1.875rem;
  }

  .pathway__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .pathway__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .spollers-pathway__title {
    font-size: 1.125rem;
  }

  .spollers-pathway__body {
    margin-bottom: 1.875rem;
  }

  .spollers-pathway__body {
    margin-bottom: 1.1875rem;
  }

  .why {
    padding-top: 1.5625rem;
  }

  .why {
    padding-bottom: 1.5625rem;
  }

  .why__content {
    padding-left: 1.875rem;
  }

  .why__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .why__text:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .why__steps:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .step-why {
    gap: 2.5rem;
  }

  .step-why__item {
    line-height: 2.0625rem;
  }

  .step-why__item {
    gap: 1.875rem;
  }

  .tennis {
    padding-top: 1.5625rem;
  }

  .tennis {
    padding-bottom: 1.5625rem;
  }

  .tennis {
    margin-bottom: 1.5625rem;
  }

  .mainpage__slider {
    height: 53.125rem;
  }

  .main-slider {
    padding-top: 0.3125rem;
  }

  .main-slider {
    padding-bottom: 1.875rem;
  }

  .main-slider {
    padding-left: 1.875rem;
  }

  .main-slider {
    padding-right: 1.875rem;
  }

  .body-main-slider__control .swiper-pagination-bullet {
    font-size: 1.0625rem;
  }

  .body-main-slider__control {
    padding-top: 0rem;
  }
}

@media (max-width: 90.3125em) {
  .slide-main-slider {
    padding: 25px 0;
  }
}

@media (max-width: 90.3125em) and (max-width: 61.99875em) {
  .slide-main-slider {
    padding-top: 0;
  }
}

@media (max-width: 77.74875em) {
  .icons-main-block__item_4 {
    top: 18.4804928131%;
  }
}

@media (max-width: 77.43625em) {
  .pathway__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .pathway__content {
    max-width: 65rem;
  }

  .spollers-pathway__item {
    min-width: 100%;
  }

  .main-slider {
    min-width: 100%;
    min-height: 100%;
  }
}

@media (max-width: 77.43625em) and (max-width: 20em) {
  .pathway__content {
    padding-left: 0.9375rem;
  }

  .pathway__content {
    padding-right: 0.9375rem;
  }
}

@media (max-width: 74.99875em) {
  .tennis__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.625rem;
  }
}

@media (max-width: 71.43625em) {
  .pathway__image::before {
    -webkit-transform: translate(calc(-50% - 31.25rem), -19%);
        -ms-transform: translate(calc(-50% - 31.25rem), -19%);
            transform: translate(calc(-50% - 31.25rem), -19%);
  }

  .pathway__image::after {
    -webkit-transform: translate(calc(-50% - 31.25rem), -8%);
        -ms-transform: translate(calc(-50% - 31.25rem), -8%);
            transform: translate(calc(-50% - 31.25rem), -8%);
  }
}

@media (max-width: 69.93625em) {
  .pathway__image::before {
    -webkit-transform: translate(calc(-50% - 31.25rem), -19%);
        -ms-transform: translate(calc(-50% - 31.25rem), -19%);
            transform: translate(calc(-50% - 31.25rem), -19%);
  }

  .pathway__image::after {
    -webkit-transform: translate(calc(-50% - 31.25rem), -8%);
        -ms-transform: translate(calc(-50% - 31.25rem), -8%);
            transform: translate(calc(-50% - 31.25rem), -8%);
  }
}

@media (max-width: 62.5em) {
  .header__container-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 61.99875em) {
  .button {
    padding: 0.875rem 1.25rem;
  }

  .footer__contacts:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__contacts:last-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .main-slider {
    padding-top: 0;
  }

  .body-main-slider__swiper {
    padding-top: 0;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .mainpage__slider {
    height: 3.125rem;
  }
}

@media (max-width: 56.24875em) {
  .pathway__image::before {
    -webkit-transform: translate(calc(-50% - 21.875rem), -19%);
        -ms-transform: translate(calc(-50% - 21.875rem), -19%);
            transform: translate(calc(-50% - 21.875rem), -19%);
  }

  .pathway__image::after {
    -webkit-transform: translate(calc(-50% - 21.875rem), -8%);
        -ms-transform: translate(calc(-50% - 21.875rem), -8%);
            transform: translate(calc(-50% - 21.875rem), -8%);
  }
}

@media (max-width: 56.24875em) and (max-width: 20em) {
  .mainpage__slider {
    height: 56.25rem;
  }
}

@media (max-width: 53.12375em) {
  .slide-main-slider__image-ibg {
    padding-top: 75%;
  }
}

@media (max-width: 51.4375em) {
  .icons-main-block__item_1 {
    display: none;
  }
}

@media (max-width: 49.6875em) {
  .icons-main-block__item_6 {
    top: 89.9383983573%;
  }
}

@media (max-width: 49.99875em) {
  .tennis__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .tennis__title {
    text-align: center;
  }
}

@media (max-width: 49.99875em) and (max-width: 20em) {
  .mainpage__slider {
    height: 46.875rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #1b2327;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    background-color: #192123;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .button {
    padding: 10px 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 5;
    padding: 0rem 1.1875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0px;
  }

  .icon-menu::after {
    bottom: 0px;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .icons-main-block__item_3 {
    top: 97.5359342916%;
  }

  .how__content {
    text-align: center;
  }

  .step-how__text p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body {
    padding-top: 7.5rem;
  }

  .menu__body::before {
    height: 6.25rem;
  }
}

@media (max-width: 43.74875em) {
  .pathway__image::before {
    -webkit-transform: translate(calc(-50% - 9.375rem), -19%);
        -ms-transform: translate(calc(-50% - 9.375rem), -19%);
            transform: translate(calc(-50% - 9.375rem), -19%);
  }

  .pathway__image::after {
    -webkit-transform: translate(calc(-50% - 9.375rem), -8%);
        -ms-transform: translate(calc(-50% - 9.375rem), -8%);
            transform: translate(calc(-50% - 9.375rem), -8%);
  }
}

@media (max-width: 43.74875em) and (max-width: 20em) {
  .mainpage__slider {
    height: 34.375rem;
  }
}

@media (max-width: 31.24875em) {
  .icons-main-block__item_2 {
    left: 9.2592592593%;
  }
}

@media (max-width: 29.99875em) {
  .tennis__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 29.99875em) and (max-width: 20em) {
  .mainpage__slider {
    height: 28.125rem;
  }
}

@media (max-width: 28.12375em) {
  .pathway__image::before {
    -webkit-transform: translate(calc(-50% - 1.125rem), -19%);
        -ms-transform: translate(calc(-50% - 1.125rem), -19%);
            transform: translate(calc(-50% - 1.125rem), -19%);
  }

  .pathway__image::after {
    -webkit-transform: translate(calc(-50% - 1.25rem), -8%);
        -ms-transform: translate(calc(-50% - 1.25rem), -8%);
            transform: translate(calc(-50% - 1.25rem), -8%);
  }
}

@media (max-width: 25.74875em) {
  .icons-main-block__item_7 {
    display: none;
  }
}

@media (max-width: 20.875em) {
  .icons-main-block__item_6 {
    top: 92.4024640657%;
  }
}

@media (min-width: 20em) and (max-width: 103.125em) {
  .header {
    padding-top: calc(0.625rem + 3.125 * (((100vw - 20rem)) / ((83.125))));
  }

  .header {
    padding-bottom: calc(0.625rem + 3.125 * (((100vw - 20rem)) / ((83.125))));
  }

  .header__logo {
    font-size: calc(1.875rem + 0.9375 * (((100vw - 20rem)) / ((83.125))));
  }

  .header__logo::before,
  .header__logo::after {
    width: calc(21.875rem + 14.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .header__logo::before,
  .header__logo::after {
    height: calc(21.875rem + 14.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .menu__list {
    gap: calc(0.9375rem + 1.8125 * (((100vw - 20rem)) / ((83.125))));
  }

  .footer {
    padding-top: calc(2.5rem + 6.875 * (((100vw - 20rem)) / ((83.125))));
  }

  .footer {
    padding-bottom: calc(2.5rem + 6.25 * (((100vw - 20rem)) / ((83.125))));
  }

  .footer__copy {
    padding-top: calc(1.875rem + 3.125 * (((100vw - 20rem)) / ((83.125))));
  }

  .footer__copy_dev {
    padding-top: calc(0.625rem + 1.25 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-footer__title > img {
    height: calc(5.3125rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-footer__title > img {
    weight: calc(5.3125rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-footer__title > img {
    margin-bottom: calc(0.625rem + 1.25 * (((100vw - 20rem)) / ((83.125))));
  }

  .paig__main {
    margin-bottom: calc(6.25rem + 6.25 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-block__content {
    padding-top: calc(9.375rem + 9.375 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-block__content {
    padding-bottom: calc(3.125rem + 9.375 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-block__text:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.75 * (((100vw - 20rem)) / ((83.125))));
  }

  .title {
    font-size: calc(2.8125rem + 1.5625 * (((100vw - 20rem)) / ((83.125))));
  }

  .title:not(:last-child) {
    margin-bottom: calc(1.875rem + 2.4375 * (((100vw - 20rem)) / ((83.125))));
  }

  .how {
    padding-bottom: calc(1.5625rem + 4.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .how__content {
    padding-left: calc(1.875rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }

  .title {
    font-size: calc(2.8125rem + 1.5625 * (((100vw - 20rem)) / ((83.125))));
  }

  .title_s64 {
    font-size: calc(2.8125rem + 1.5625 * (((100vw - 20rem)) / ((83.125))));
  }

  .title_s64:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((83.125))));
  }

  .text {
    margin-bottom: calc(1.875rem + 1.125 * (((100vw - 20rem)) / ((83.125))));
  }

  .text p:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((83.125))));
  }

  .step-how__item:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.125 * (((100vw - 20rem)) / ((83.125))));
  }

  .step-how__text p {
    padding-right: calc(1.25rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }

  .image-block {
    padding-top: calc(1.875rem + 8.4375 * (((100vw - 20rem)) / ((83.125))));
  }

  .image-block {
    padding-bottom: calc(1.875rem + 8.4375 * (((100vw - 20rem)) / ((83.125))));
  }

  .image-block {
    padding-left: calc(1.875rem + 0.9375 * (((100vw - 20rem)) / ((83.125))));
  }

  .image-block {
    margin-left: calc(0.9375rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }

  .image-block {
    margin-right: calc(0.9375rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }

  .image-block {
    padding-right: calc(1.875rem + 0.9375 * (((100vw - 20rem)) / ((83.125))));
  }

  .image-block::before,
  .image-block::after {
    width: calc(21.875rem + 14.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .image-block::before,
  .image-block::after {
    height: calc(21.875rem + 14.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .pathway {
    padding-top: calc(1.5625rem + 4.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .pathway {
    padding-bottom: calc(1.5625rem + 4.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .pathway__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((83.125))));
  }

  .pathway__text:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.125 * (((100vw - 20rem)) / ((83.125))));
  }

  .spollers-pathway__title {
    font-size: calc(1.125rem + 0.1875 * (((100vw - 20rem)) / ((83.125))));
  }

  .spollers-pathway__body {
    margin-bottom: calc(1.875rem + 1.125 * (((100vw - 20rem)) / ((83.125))));
  }

  .spollers-pathway__body {
    margin-bottom: calc(1.1875rem + 0.25 * (((100vw - 20rem)) / ((83.125))));
  }

  .why {
    padding-top: calc(1.5625rem + 4.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .why {
    padding-bottom: calc(1.5625rem + 4.6875 * (((100vw - 20rem)) / ((83.125))));
  }

  .why__content {
    padding-left: calc(1.875rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }

  .why__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 0.625 * (((100vw - 20rem)) / ((83.125))));
  }

  .why__text:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.125 * (((100vw - 20rem)) / ((83.125))));
  }

  .why__steps:not(:last-child) {
    margin-bottom: calc(1.5625rem + 1.875 * (((100vw - 20rem)) / ((83.125))));
  }

  .step-why {
    gap: calc(2.5rem + 0.5 * (((100vw - 20rem)) / ((83.125))));
  }

  .step-why__item {
    line-height: calc(2.0625rem + 1.375 * (((100vw - 20rem)) / ((83.125))));
  }

  .step-why__item {
    gap: calc(1.875rem + 1.25 * (((100vw - 20rem)) / ((83.125))));
  }

  .tennis {
    padding-top: calc(1.5625rem + 7.8125 * (((100vw - 20rem)) / ((83.125))));
  }

  .tennis {
    padding-bottom: calc(1.5625rem + 7.8125 * (((100vw - 20rem)) / ((83.125))));
  }

  .tennis {
    margin-bottom: calc(1.5625rem + 5.9375 * (((100vw - 20rem)) / ((83.125))));
  }

  .mainpage__slider {
    height: calc(53.125rem + 15.625 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-slider {
    padding-top: calc(0.3125rem + 4.375 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-slider {
    padding-bottom: calc(1.875rem + -0.625 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-slider {
    padding-left: calc(1.875rem + -0.625 * (((100vw - 20rem)) / ((83.125))));
  }

  .main-slider {
    padding-right: calc(1.875rem + -0.625 * (((100vw - 20rem)) / ((83.125))));
  }

  .body-main-slider__control .swiper-pagination-bullet {
    font-size: calc(1.0625rem + 0.375 * (((100vw - 20rem)) / ((83.125))));
  }

  .body-main-slider__control {
    padding-top: calc(0rem + 5.5 * (((100vw - 20rem)) / ((83.125))));
  }
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .menu__body {
    padding-top: 10rem;
  }

  .menu__body::before {
    height: 8.375rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 48em) {
  .menu__body {
    padding-top: calc(7.5rem + 2.5 * (((100vw - 20rem)) / ((28))));
  }

  .menu__body::before {
    height: calc(6.25rem + 2.125 * (((100vw - 20rem)) / ((28))));
  }
}

@media (min-width: 62em) and (max-width: 88.75em) {
  .how__content {
    padding-right: calc(1.875rem + 4.0625 * (((100vw - 62rem)) / ((26.75))));
  }

  .pathway__content {
    padding-right: calc(1.875rem + 6 * (((100vw - 62rem)) / ((26.75))));
  }

  .why__content {
    padding-right: calc(1.875rem + 9.1875 * (((100vw - 62rem)) / ((26.75))));
  }

  .tennis {
    padding-right: calc(1.875rem + 9.1875 * (((100vw - 62rem)) / ((26.75))));
  }
}

@media (min-width: 20em) and (max-width: 88.75em) {
  .pathway__content {
    padding-left: calc(1.875rem + 6 * (((100vw - 20rem)) / ((68.75))));
  }
}

@media (max-width: 77.43625em) and (min-width: 103.125em) {
  .pathway__content {
    padding-left: 0.9375rem;
  }

  .pathway__content {
    padding-right: 0.9375rem;
  }
}

@media (max-width: 77.43625em) and (min-width: 20em) and (max-width: 103.125em) {
  .pathway__content {
    padding-left: calc(0.9375rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }

  .pathway__content {
    padding-right: calc(0.9375rem + 0 * (((100vw - 20rem)) / ((83.125))));
  }
}

@media (max-width: 61.99875em) and (min-width: 103.125em) {
  .mainpage__slider {
    height: 81.25rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 103.125em) {
  .mainpage__slider {
    height: calc(3.125rem + 78.125 * (((100vw - 20rem)) / ((83.125))));
  }
}

@media (max-width: 56.24875em) and (min-width: 103.125em) {
  .mainpage__slider {
    height: 81.25rem;
  }
}

@media (max-width: 56.24875em) and (min-width: 20em) and (max-width: 103.125em) {
  .mainpage__slider {
    height: calc(56.25rem + 25 * (((100vw - 20rem)) / ((83.125))));
  }
}

@media (max-width: 49.99875em) and (min-width: 103.125em) {
  .mainpage__slider {
    height: 81.25rem;
  }
}

@media (max-width: 49.99875em) and (min-width: 20em) and (max-width: 103.125em) {
  .mainpage__slider {
    height: calc(46.875rem + 34.375 * (((100vw - 20rem)) / ((83.125))));
  }
}

@media (max-width: 43.74875em) and (min-width: 103.125em) {
  .mainpage__slider {
    height: 87.5rem;
  }
}

@media (max-width: 43.74875em) and (min-width: 20em) and (max-width: 103.125em) {
  .mainpage__slider {
    height: calc(34.375rem + 53.125 * (((100vw - 20rem)) / ((83.125))));
  }
}

@media (max-width: 29.99875em) and (min-width: 103.125em) {
  .mainpage__slider {
    height: 87.5rem;
  }
}

@media (max-width: 29.99875em) and (min-width: 20em) and (max-width: 103.125em) {
  .mainpage__slider {
    height: calc(28.125rem + 59.375 * (((100vw - 20rem)) / ((83.125))));
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #23b123;
  }

  .button:hover {
    background-color: #1e8d1e;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }

  .slide-main-slider__image-ibg:hover::before {
    -webkit-transform: translate(30px, -30px);
        -ms-transform: translate(30px, -30px);
            transform: translate(30px, -30px);
  }

  .slide-main-slider__image-ibg:hover::after {
    -webkit-transform: translate(-30px, 30px);
        -ms-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }

  .slide-main-slider__image-ibg:hover img {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
}